<div class="row">
    <div class="com-m-8">
        <h3>Posts list</h3>

        <div>
            <a 
            href="#" 
            class="btn btn-primary"
            [routerLink]="['/posts/add']"
            >Add Posts</a>
        </div>

        <table class="table table-striped" *ngIf="posts$ | async as postsData">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Title</td>
                    <td>Description</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of postsData">
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>


<div class="col-md-4">
    <router-outlet></router-outlet>
</div>

</div>